*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}

.gallery-section{
  width: 100%;
  padding: 60px 0;
  background: #f1f1f1;

  
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.border{
  width: 180px;
  height: 4px;
  background: #333;
  margin: 60px auto;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image:hover img{
  transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
}


.right-menu li{
    display: inline-block;
    margin-top: 30px;
}
.right-menu .fa{
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;

}
.navbar-brand img{
    width: 100px;
}
.navbar-brand {
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    position: absolute;
}
.header{
    background: #f5f6fc;
    margin-bottom: 80px;
}
.navbar{
    padding: 0 35px !important;
}
.navbar-toggler{
    border: none !important;
    outline: none !important;
    padding: 0 !important;
    margin-top: 30px;
}
.navbar-toggler .fa{
    font-size: 30px;
    cursor: pointer;
}